.FormContainer {
  overflow-y: auto;
  
}
.ToolsContainer {
  border-right: 1px solid black;
}
.tools {
  padding: 1rem;
}
.tools-icons {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.drag {
  cursor: grab;
}
.drag:active {
  cursor: grabbing;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-g {
  border: 1px solid green;
}
.background-g {
  border: 3rem solid lightgreen;
}